<html>
<head>
	<title></title>
</head>
<body>
	<h2 class='User_Header'>
		<%=@profile.username.capitalize%>'s Profile 
	</h2>
	<div>
		Email: <%= @profile.email %><br>
		First Name:<br>
		Last Name:<br>
		Address1:<br>
		Address2:<br>
		City:<br>
		State:<br>
		Zip:<br>
		Phone:<br>
		Email:<br>
		Website:<br>
		Desription:<br>
		Created_at:<br>
	</div>
	<div>
		<h1>
			<%= link_to "My Information", :profile%>
		</h1>
	</div>
	<br>
	<br>
	<p style=color: blue><%= params %></p>
</body>
</html>