<html>
	<head>
		<title></title>
	</head>
	<body>
		<h2 class='User_Header'>
			<%=@current_user.username.capitalize%>'s Home
		</h2>
		<div>
			Email: <%= @current_user.email %><br>
			"name"<br>
			"address1"<br>
			"address2"<br>
			"city"<br>
			"state"<br>
			"zip"<br>
			"phone"<br>
			"email"<br>
			"website"<br>
			"desription"<br>
			"created_at"<br>
			"updated_at"
		</div>
		<div>
			<h1>
				<%= link_to "My Information", :profile%>
			</h1>
		</div>
	</body>
</html>