			Welcome! <%= @profile.username.capitalize %> Thanks so much for signing up! 


			This blog was created just for people like you! Lets share all of our experiences about wine, the culture, the people, and the highlights.

<h2><%= link_to "got it, take me to my profile page!", :home%></h2>

