			Welcome! <%= @profile.username.capitalize %> Thanks so much for signing up! 
		<br>	
//this is where we will make a tutorial page
<br>

<h2><%= link_to "got it, take me to my profile page!", :home%></h2>

<br>
<br>
<p style="color: blue"><%= params %></p>