<html>
	<head>
		<title></title>
	</head>
	<body>
		<h2 class='User_Header'>
			<%=@current_user.username.capitalize%>'s Home 
		</h2>
		<div>
		Email: <%= @current_user.email %>
		</div>
	</body>
</html>