<h1>Editing post</h1>
this page should be able to tag certain wines from the database, maybe
from a dropdown menu

<%= render 'form' %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>




